/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600); */

body {
	background: #EAE7DC;
	font-family: 'Ubuntu', sans-serif;
}



/* кастомный слайдер с адаптив фото*/
.customSidebars1:hover {background: linear-gradient(to left, rgba(76,226,139,0) 30%, rgba(76,226,139,1));}
.customSidebars2:hover {background: linear-gradient(to right, rgba(76,226,139,0) 30%, rgba(76,226,139,1));}
#slider {height: 350px; width: 900px;}
#slider img {height: 350px; width: 900px;}
#slider span {color: var(--mainGreenColor);}

/* custom card near slider */
.customCardStyle {
	border-radius: 0;
	border: 0;
	width: 16rem;
	overflow: hidden;
	position: absolute;
	height: 350px;
	background: #EAE7DC;
}
.card-footer {border:0;	background: #EAE7DC;}
.card-header {border:0;	background: #EAE7DC;}

 

.imgBlock:hover > img:hover {
	opacity: 0.9;
}


